# Etapa 1: Limpieza y Exploración del DataSet

**Responsable:** Bricia Méndez — *Data Analyst*

**Tarea:** Limpieza de los 6 archivos originales.

In [1]:
import numpy as np
import pandas as pd

In [ ]:
#carga de los seis archivos csv
Precios_compras_2017=pd.read_csv("2017PurchasePricesDec.csv")
Inicio_inventario=pd.read_csv("BegInvFINAL12312016.csv") 
Final_inventario=pd.read_csv("EndInvFINAL12312016.csv")
Facturas_compras=pd.read_csv("InvoicePurchases12312016.csv")
Compra_final=pd.read_csv("PurchasesFINAL12312016.csv")
Venta_final=pd.read_csv("SalesFINAL12312016.csv")

In [18]:
Inicio_inventario['startDate'] = pd.to_datetime(Inicio_inventario['startDate'])
Final_inventario['endDate'] = pd.to_datetime(Final_inventario['endDate'])
Venta_final["SalesDate"] = pd.to_datetime(Venta_final["SalesDate"])

# Se creó una lista con los nombres de las columnas a convertir
Fechas_facturas_compras = ['InvoiceDate', 'PODate', 'PayDate'] 
Fechas_compras_final = ["PODate", "ReceivingDate", "InvoiceDate","PayDate"]

# Se aplicó la conversión a esas columnas específicas
Facturas_compras[Fechas_facturas_compras] = Facturas_compras[Fechas_facturas_compras].apply(pd.to_datetime)
Compra_final[Fechas_compras_final] = Compra_final[Fechas_compras_final].apply(pd.to_datetime)

In [7]:
Precios_compras_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12261 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12261 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12261 non-null  int64
 6   PurchasePrice   12261 non-null  float64
 7   VendorNumber    12261 non-null  int64
 8   VendorName      12261 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 862.2+ KB

In [19]:
Inicio_inventario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  206529 non-null  object
 1   Store        206529 non-null  int64
 2   City         206529 non-null  object
 3   Brand        206529 non-null  int64
 4   Description  206529 non-null  object
 5   Size         206529 non-null  object
 6   onHand       206529 non-null  int64
 7   Price        206529 non-null  float64
 8   startDate    206529 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 14.2+ MB

In [20]:
Final_inventario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  224489 non-null  object
 1   Store        224489 non-null  int64
 2   City         223205 non-null  object
 3   Brand        224489 non-null  int64
 4   Description  224489 non-null  object
 5   Size         224489 non-null  object
 6   onHand       224489 non-null  int64
 7   Price        224489 non-null  float64
 8   endDate      224489 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 15.4+ MB

In [21]:
Facturas_compras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   datetime64[ns]
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   datetime64[ns]
 5   PayDate       5543 non-null   datetime64[ns]
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: datetime64[ns](3), float64(2), int64(3), object(2)
memory usage: 433.2+ KB

In [22]:
Compra_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          datetime64[ns]
 9   ReceivingDate   datetime64[ns]
 10  InvoiceDate     datetime64[ns]
 11  PayDate         datetime64[ns]
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: datetime64[ns](4), float64(2), int64(6), object(4)
memory usage: 289.6+ MB

In [23]:
Venta_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   InventoryId     1048575 non-null  object
 1   Store           1048575 non-null  int64
 2   Brand           1048575 non-null  int64
 3   Description     1048575 non-null  object
 4   Size            1048575 non-null  object
 5   SalesQuantity   1048575 non-null  int64
 6   SalesDollars    1048575 non-null  float64
 7   SalesPrice      1048575 non-null  float64
 8   SalesDate       1048575 non-null  datetime64[ns]
 9   Volume          1048575 non-null  int64
 10  Classification  1048575 non-null  int64
 11  ExciseTax       1048575 non-null  float64
 12  VendorNo        1048575 non-null  int64
 13  VendorName      1048575 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(6), object(4)
memory usage: 112.0+ MB